#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
        dh $@
override_dh_auto_configure:
        git submodule init
        git submodule update
        ./build.sh
        dh_auto_configure -- --prefix=/usr
